* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px
}

li,
ol,
ul {
    list-style: none outside none
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

fieldset,
img {
    border: 0 none
}

html {
    min-width: 990px
}

body {
    text-align: left;
    color: #262626;
    background: #fff;
}

input::-moz-focus-inner {
    padding: 0;
    border: none
}

a img {
    border: none
}

a {
    text-decoration: none;
    color: #262626;
    outline: 0
}

a:hover {
    color: #2470bf;
}

.loaded a {
    transition: color .3s, background-color .3s
}

textarea {
    font-size: 14px;
    resize: none;
    outline: 0
}

button,
input {
    border: none;
    outline: 0
}

input::-ms-clear {
    display: none
}

label {
    cursor: pointer
}

i {
    font-style: normal
}

p {
    word-wrap: break-word;
    word-break: break-all
}

.box-center {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.cf {
    zoom: 1;
}

.cf:after,
.cf:before {
    display: table;
    content: '';
}

.cf:after {
    clear: both;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.mb40 {
    margin-bottom: 40px;
}

.mb20 {
    margin-bottom: 20px;
}

.blue-btn {
    display: inline-block;
    margin: 0 5px;
    width: 85px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #2470bf;
    transition: background .3s ease, color .3s ease;
    cursor: pointer;
}

.blue-btn:hover {
    background: #547ae2;
    color: white;
}

.blue {
    color: #3f5a93;
}


/* 底部 */

.footer {
    text-align: center;
    background: #fafafa;
}

.footer .box-center {
    background: #fafafa;
}

.footer .footer-text {
    padding: 20px 26px 0;
}

.footer .footer-text p {
    font-size: 12px;
    line-height: 20px;
    color: #1a1a1a;
}

.footer .footer-menu {
    padding: 0 0 4px;
}

.dib-wrap {
    font-size: 0;
}

.footer .footer-menu a {
    color: #666;
}

.footer .footer-menu a,
.footer .friend-link a {
    font-size: 12px;
    line-height: 27px;
    margin-right: 16px;
    color: #1a1a1a;
}

.dib-wrap a,
.dib-wrap span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
}

.footer .copy-right {
    padding-bottom: 16px;
}

.footer .copy-right p {
    font-size: 12px;
    overflow: hidden;
    height: 20px;
    color: #a6a6a6;
}