.fl{
    float: left;
}
.fr{
    float: right;
}
body{
    margin: 0;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
*{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
ul{
    list-style: none;
}
input,button{
    border: 0;
    outline: none;
}
input:focus{
    outline: none;
}
button{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
table{
    margin: 0;
}
/* 部分用到 */
.popup input{
    height: 190px;
    width: 40px;
    border: 1px solid grey;
}