<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>未来小说网--查看书籍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../resources/css/all.css" type="text/css" th:href="@{/resources/css/all.css}">
    <link rel="stylesheet" href="../../resources/css/look-book.css" type="text/css" th:href="@{/resources/css/look-book.css}">
</head>

<body>
    <div class="wrap" style="background-color: #f5f5f5;min-height: 1000px;">
        <!-- 导航条 -->
        <div class="fixed-nav">
            <div class="cf" style="width: 1200px;margin: 0 auto;">
                <h1 class="top-logo">未来小说网</h1>
                <div class="nav-list site-nav fl">
                    <ul>
                        <li>
                            <a href="###">玄幻</a>
                        </li>
                        <li>
                            <a href="###">都市</a>
                        </li>
                        <li>
                            <a href="###">仙侠</a>
                        </li>
                        <li>
                            <a href="###">科幻</a>
                        </li>
                        <li>
                            <a href="###">排行</a>
                        </li>
                        <li class="more">
                            <a href="###">更多<span></span></a>
                            <div class="dropdown">
                                <a href="###" target="_blank">全部作品</a>
                                <a href="###" target="_blank">轻小说</a>
                                <a href="###" target="_blank">奇幻</a>
                                <a href="###" target="_blank">武侠</a>
                                <a href="###" target="_blank">悬疑</a>
                                <a href="###" target="_blank">军事</a>
                                <a href="###" target="_blank">现实</a>
                                <a href="###" target="_blank">体育</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav-list min-user fr">
                    <ul>
                        <li id="min-search">
                            <form id="formUrl" method="get" target="_blank" action="">
                                <label id="fixed-search" for="topsearchSubmit">
                                <i class="fa fa-search" style="font-size:16px;color: #ffffff;"></i>
                            </label>
                                <input id="fixed-input" class="fixed-input hide" type="text" name="kw">
                                <input class="submit-input" type="submit" id="topsearchSubmit">
                            </form>
                            <li class="line"></li>
                        </li>
                        <li class="sign-out">
                            <a id="fixed-login" href="###">登录</a>
                            <a class="reg" href="###" target="_blank">注册</a>
                        </li>
                        <li class="line"></li>
                        <li class="book-shelf" id="top-book-shelf">
                            <a href="###" target="_blank">
                                <i class="fa fa-book" style="font-size:16px">我的书架</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="border-shadow">
        <span></span>
        <span></span>
    </div> -->
        <!-- 书详情 -->
        <div class="book-detail center">
            <!-- 书籍信息 -->
            <!--/*@thymesVar id="novel" type="net.wlgzs.futurenovel.bean.Novel"*/-->
            <div class="book-information cf" th:object="${novel}">
                <div class="book-img">
                    <a href="###" id="bookImg">
                        <img src="../../resources/img/万族之劫.jpg" th:src="*{coverImgUrl}">
                    </a>
                </div>
                <div class="book-info">
                    <h1><a th:text="*{title}">万族之劫</a>
                        <span th:each="author : *{authors}">
                            <a class="writer" href="###" target="_blank" style="margin-right: 10px;" th:text="${author}">老鹰吃小鸡</a>著
                        </span>
                    </h1>
                    <p class="tag">
                        <span class="blue"  th:each="tag : *{tags}" th:text="${tag}">连载</span>
<!--                        <span class="blue">签约</span>-->
<!--                        <span class="blue">VIP</span>-->
<!--                        <a href="###" class="red" target="_blank">都市</a>-->
<!--                        <a href="###" class="red" target="_blank">都市异能</a>-->
                    </p>
                    <p class="intro" th:text="*{title}">重生过去、畅想未来、梦幻现实，再塑传奇人生！</p>
                    <p>
<!--                        <em>325.64</em><span>万字</span><i>|</i>-->
<!--                        <em>478.39</em><span>万总推荐</span><i>|</i>-->
                        <span>评分</span><em th:text="*{rating} == 0 ? '暂无' : *{rating}">22.56</em>
                    </p>
                    <p>
                        <a class="blue-btn" href="###" id="blueBtn">免费试读</a>
                        <a class="blue-btn add-book" href="###" id="addBookBtn">加入书架</a>
                        <a class="blue-btn" href="###" id="downloadAppBtn">手机App阅读</a>
                    </p>
                </div>
                <div class="take-wrap">
                    <a class="blue" id="subscribe" href="###">
                        <i class="fa fa-file-text-o" style="font-size:14px">订阅</i>
                    </a>
                </div>
            </div>
            <!-- 作品信息 -->
            <div class="content-nav cf">
                <div class="nav-wrap fl">
                    <ul>
                        <li class="bookinfo actinfocata">
                            <a id="book-infopage" href="###">作品信息</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="book-content cf">
                <div class="left-wrap fl">
                    <div class="book-info">
                        <p style="padding: 10px 30px;border-bottom: 1px solid #e6e6e6;" th:utext="${novel.description}"> 我是这诸天万族的劫！<br> 已有完本作品《全球高武》《重生之财源滚滚》，没看过的书友可以去看看，新书收藏一下慢慢养。</p>
                    </div>
                    <div class="book-state">
                        <ul>
                            <li>
                                <b>作者自定义标签</b>
                                <div class="detail">
                                    <p class="tag-wrap">
                                        <a class="tags" href="###" target="_blank">宅男</a>
                                        <a class="tags" href="###" target="_blank">热血</a>
                                        <a class="tags" href="###" target="_blank">练功流</a>
                                    </p>
                                </div>
                            </li>
                            <li class="honor" id="honor">
                                <b>荣誉动态</b>
                                <div class="detail">
                                    <strong>2020-07-01 获得了男频月票榜(2020年06月)第一名</strong>
                                    <p class="honor-icon cf">
                                        <img src="../../resources/img/honor-rigengwanzi.png" th:src="@{/resources/img/honor-wanzhongyixin.png}">
                                        <img src="../../resources/img/honor-wanzhongyixin.png" th:src="@{/resources/img/honor-wanzhongyixin.png}">
                                    </p>
                                </div>
                            </li>
                            <li class="update">
                                <b>最新章节</b>
                                <div class="detail">
                                    <p class="cf">
                                        <a class="blue" href="##" target="_blank">第433章 大秦王（求订阅）</a>
                                    </p>
                                    <p class="tag-wrap" style="padding: 10px 0;">
                                        <span class="tags red">非常勤奋</span>
                                        <span class="tags red">连续8天更新</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-wrap fr">
                    <div class="author-info">
                        <div class="info-wrap">
                            <div class="author-photo" id="authorId">
                                <a href="###" target="_blank">
                                    <img src="../../resources/img/author-1.jpg" th:src="@{/resources/img/author-1.jpg}">
                                    <span class="god">大神</span>
                                </a>
                            </div>
                            <p>
                                <a href="###" target="_blank">老鹰吃小鸡</a>
                                <a class="god-light" href="###" target="_blank"></a>
                            </p>
                            <p>阅文集团大神作家，2018年度金键盘作家，著有《全球高武》《重生之财源滚滚》作品</p>
                        </div>
                        <div class="info-wrap">
                            <ul class="work-state cf">
                                <li>
                                    <span class="book"></span>
                                    <p>作品总数</p>
                                    <p style="font-size: 14px;color: #bf2c24;">3</p>
                                </li>
                                <li>
                                    <span class="word"></span>
                                    <p>累计字数</p>
                                    <p style="font-size: 14px;color: #bf2c24;">1829万</p>
                                </li>
                                <li>
                                    <span class="coffee"></span>
                                    <p>创作天数</p>
                                    <p style="font-size: 14px;color: #bf2c24;">1830</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 目录 -->
            <div class="content-nav cf">
                <div class="nav-wrap fl">
                    <ul>
                        <li class="bookcata actinfocata">
                            <a id="book-catalogue" href="###">目录</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="catalogue-content">
                <div class="volume-wrap">
                    <div class="volume">
                        <h2>
                            <a class="subscri" href="###" target="_blank"><i class="fa fa-file-text-o" style="font-size:14px;margin-right: 3px;"></i> 分卷阅读</a>
                            <p style="font-size: 18px;">正文卷<i>·</i><a th:text="|共${novel.size()}章|">共89章</a><span class="free">免费</span></p>
                        </h2>
                        <ul class="cf" th:each="chapter : ${novel}">
                            <li th:each="section : ${chapter}">
                                <a href="#" th:href="${#request.contextPath}+'/novel/'+${novel.uniqueId.toString()}+'/read?sectionId='+${section.uniqueId.toString()}" target="_blank" th:text="|${chapter.title} - ${section.title}|">第1章 父子</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="position: relative;top: 130px;">
            <div class="box-center cf">
                <div class="footer-text">
                    <p>网络刷单是违法 切莫轻信有返利，网上交友套路多 卖惨要钱需当心，电子红包莫轻点 个人信息勿填写，仿冒客服来行骗 官方核实最重要，招工诈骗有套路 预交费用需谨慎，低价充值莫轻信 莫因游戏陷套路，连接WIFI要规范 确认安全再连接，抢购车票有章法 确认订单再付款，白条赊购慎使用 提升额度莫轻信，网购预付有风险 正规渠道很重要 </p>
                </div>
                <div class="footer-menu dib-wrap">
                    <a href="###" target="_blank">关于未来</a>
                    <a href="###" target="_blank">联系我们</a>
                    <a href="###" target="_blank">加入我们</a>
                    <a href="###" target="_blank">帮助中心</a>
                    <a href="###" class="advice" target="_blank">提交建议</a>
                    <a href="###" target="_blank">举报中心</a>
                </div>
                <div class="copy-right">
                    <p><span>Copyright © 2002-2020 www.wlgzs.net All Rights Reserved</span> 版权所有 未来工作室</p>
                    <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！举报电话：010-59357051</p>
                    <p>本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

</html>
