<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>未来小说网--用户资料</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../resources/css/all.css" type="text/css" th:href="@{/resources/css/all.css}">
    <link rel="stylesheet" href="../../resources/css/fix-nav.css" type="text/css"
          th:href="@{/resources/css/fix-nav.css}">
    <link rel="stylesheet" href="../../resources/css/member.css" type="text/css"
          th:href="@{/resources/css/member.css}">
    <script src="../../resources/js/down.js" type="text/javascript" th:src="@{/resources/js/down.js}"></script>
</head>
<body>
<div class="wrap">
    <!-- 导航条 -->
    <div class="fixed-nav">
        <div class="cf" style="width: 1200px;margin: 0 auto;">
            <h1 class="top-logo">未来小说网</h1>
            <div class="nav-list site-nav fl">
                <ul>
                    <li>
                        <a href="###">玄幻</a>
                    </li>
                    <li>
                        <a href="###">都市</a>
                    </li>
                    <li>
                        <a href="###">仙侠</a>
                    </li>
                    <li>
                        <a href="###">科幻</a>
                    </li>
                    <li>
                        <a href="###">排行</a>
                    </li>
                    <li class="more">
                        <a href="###">更多<span></span></a>
                        <div class="dropdown">
                            <a href="###" target="_blank">全部作品</a>
                            <a href="###" target="_blank">轻小说</a>
                            <a href="###" target="_blank">奇幻</a>
                            <a href="###" target="_blank">武侠</a>
                            <a href="###" target="_blank">悬疑</a>
                            <a href="###" target="_blank">军事</a>
                            <a href="###" target="_blank">现实</a>
                            <a href="###" target="_blank">体育</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-list min-user fr">
                <ul>
                    <li id="min-search">
                        <form id="formUrl" method="get" target="_blank" action="">
                            <label id="fixed-search" for="topsearchSubmit">
                                <i class="fa fa-search" style="font-size:16px;color: #ffffff;"></i>
                            </label>
                            <input id="fixed-input" class="fixed-input hide" type="text" name="kw">
                            <input class="submit-input" type="submit" id="topsearchSubmit">
                        </form>
                    <li class="line"></li>
                    </li>
                    <li class="sign-out">
                        <a id="fixed-login" href="###">登录</a>
                        <a class="reg" href="###" target="_blank">注册</a>
                    </li>
                    <li class="line"></li>
                    <li class="book-shelf" id="top-book-shelf">
                        <a href="###" target="_blank">
                            <i class="fa fa-book" style="font-size:16px">我的书架</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--用户信息-->
    <div class="box-center" style="margin-top: 100px">
        <!-- 侧边导航栏-->
        <div class="personal-side">
            <ul class="side-main">
                <a th:href="@{/FutureNovel.html}" href="FutureNovel.html" class="side-ul-a">
                    <i class="fa fa-home" style="font-size:16px"></i>首页
                </a>
                <li class="side-parent">
                    <a href="setting.html" >
                        <i class="fa fa-edit" style="font-size:16px"></i>
                        <span style="vertical-align: inherit">修改</span>
                    </a>
                </li>
                <li class="side-parent" id="side-parent">
                    <a>
                        <i class="fa fa-history" style="font-size:16px"></i>
                        <span style="vertical-align:inherit">历史</span>
                    </a>
                    <ul class="side-group" id="side-group">
                        <li>
                            <a href="" class="side-list-a">浏览历史</a>
                        </li>
                        <li>
                            <a href="" class="side-list-a">点赞历史</a>
                        </li>
                        <li>
                            <a href="" class="side-list-a">评论历史</a>
                        </li>
                    </ul>
                </li>
                <a href="#shelf" class="side-ul-a">
                    <i class="fa fa-book" style="font-size:16px"></i>我的书架
                </a>
            </ul>
        </div>
        <!-- 中间内容-->
        <div class="home-content">
            <div class="home-user-wrap">
                <div class="home-user-avatar">
                    <a href="#" class="user-avatar-a">
                        <img class="user-avatar-img" src="../../resources/img/avatar.png"
                             th:src="@{/resources/img/avatar.png}">
                    </a>
                </div>
                <div class="home-user">
                    <div class="blue-btn-little">
                        <a href="setting.html" class="button-a button-icon">
                            <i class="fa fa-cog" style="font-size:16px"></i>
                        </a>
                    </div>
                    <h3><a href="##">用户名</a></h3>
                    <div class="home-user-data">
                        <span style="height: 56px;display: inline-block">
                            <a href="###" class="mr12">
                                浏览历史
                            <b class="home-user-b">0</b>
                            </a>
                            <a href="###" class="mr12">
                                点赞历史
                            <b class="home-user-b">0</b>
                            </a>
                            <a href="###" class="mr12">
                                评论历史
                            <b class="home-user-b">0</b>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <form id="addToShelf" method="post" class="shelf-main">
                <h2 class="shelf-title" id="shelf">我的书架</h2>
                <ul class="shelf-list" id="shelfList" style="height: 0px; transition: height 200ms ease 0s;"></ul>
            </form>
        </div>
    </div>
</div>

</body>
</html>
