<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>未来小说网--用户资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../resources/css/all.css" type="text/css" th:href="@{/resources/css/all.css}">
    <link rel="stylesheet" href="../../resources/css/fix-nav.css" type="text/css" th:href="@{/resources/css/fix-nav.css}">
    <link rel="stylesheet" href="../../resources/css/member.css" type="text/css" th:href="@{/resources/css/member.css}">
    <script src="../../resources/js/down.js" type="text/javascript" th:src="@{/resources/js/down.js}"></script>

</head>

<body>
    <div class="wrap">
        <!-- 导航条 -->
        <div class="fixed-nav">
            <div class="cf" style="width: 1200px;margin: 0 auto;">
                <h1 class="top-logo">未来小说网</h1>
                <div class="nav-list site-nav fl">
                    <ul>
                        <li th:each=" tagTwo: ${tags}" th:if="${tagTwoStat.index} lt 6">
                            <a href="###" th:text="${tagTwo}"></a>
                        </li>
                        <li class="more">
                            <a href="###">更多<span></span></a>
                            <div class="dropdown">
                                <a href="###" target="_blank">全部作品</a>
                                <a href="###" target="_blank" th:each=" tagTwo: ${tags}" th:if="${tagTwoStat.index} gt 5" th:text="${tagTwo}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav-list min-user fr">
                    <ul>
                        <li id="min-search">
                            <form id="formUrl" method="get" target="_blank" action="">
                                <label id="fixed-search" for="topsearchSubmit">
                                    <i class="fa fa-search" style="font-size:16px;color: #ffffff;"></i>
                                </label>
                                <input id="fixed-input" list="data" class="fixed-input hide" type="text" name="kw">
                                <input class="submit-input" type="submit" id="topsearchSubmit">
                                <div style=" max-height:150px; overflow:auto;">
                                    <datalist id="data">

                                    </datalist>
                                </div>
                            </form>
                            <li class="line"></li>
                        </li>
                        <li class="sign-out" th:if="${session.currentAccount} eq null">
                            <a id="fixed-login" href="###">登录</a>
                            <a class="reg" href="###" target="_blank">注册</a>
                        </li>
                        <li class="sign-out" th:if="${session.currentAccount} ne null" th:each="user:${session.currentAccount}">
                            <a href="###" th:text="${user.userName}"></a>
                            <a href="###" th:text="${'LV'+user.level}"></a>
                        </li>
                        <li class="line"></li>
                        <li class="book-shelf" id="top-book-shelf">
                            <a th:if="${session.currentAccount} ne null" th:href="'http://localhost:8080/future-novel/user/'+${session.currentAccount.uid.toString()}" target="_blank">
                                <i class="fa fa-book" style="font-size:16px">我的书架</i>
                            </a>
                        </li>
                        <li class="avatar" th:each="user:${session.currentAccount}">
                            <a th:href="'http://localhost:8080/future-novel/user/'+${session.currentAccount.uid.toString()}" target="_blank">
                                <img th:if="${session.currentAccount} eq null" src="../../resources/img/avatar.png" th:src="@{/resources/img/avatar.png}" style="border-radius: 50%;">
                                <img th:if="${session.currentAccount} ne null" th:src="${user.profileImgUrl}" style="border-radius: 50%;width: 40px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--用户信息-->
        <div class="box-center" style="margin-top: 100px;background-color: #f5f5f5;">
            <!-- 侧边导航栏-->
            <div class="personal-side">
                <ul class="side-main">
                    <a th:href="@{/}" href="http://localhost:8080/future-novel/" class="side-ul-a">
                        <i class="fa fa-home" style="font-size:16px"></i>首页
                    </a>
                    <li class="side-parent">
                        <a href="javascript:open()">
                            <i class="fa fa-edit" style="font-size:16px"></i>
                            <span style="vertical-align: inherit">修改</span>
                        </a>
                    </li>
                    <li class="side-parent" id="side-parent">
                        <a href="javascript:;">
                            <i class="fa fa-history" style="font-size:16px"></i>
                            <span style="vertical-align:inherit">我的历史</span>
                        </a>
                        <ul class="side-group" id="side-group">
                            <li>
                                <a id="history" href="javascript:;" class="side-list-a">浏览历史</a>
                            </li>
                            <li>
                                <a id="comment" href="javascript:;" class="side-list-a">评论历史</a>
                            </li>
                        </ul>
                    </li>
                    <a id="shelf" href="javascript:;" class="side-ul-a">
                        <i class="fa fa-book" style="font-size:16px"></i>我的书架
                    </a>
                    <a id="work" href="javascript:;" class="side-ul-a">
                        <i class="fa fa-folder-o" style="font-size:16px"></i>我的作品
                    </a>
                </ul>
            </div>
            <!-- 中间内容-->
            <div class="home-content" th:each="user:${session.currentAccount}">
                <div class="home-user-wrap">
                    <div class="home-user-avatar">
                        <a href="#" class="user-avatar-a">
                            <img class="user-avatar-img profileImgUrl" th:src="${user.profileImgUrl}">
                        </a>
                    </div>
                    <div class="home-user">
                        <div class="blue-btn-little">
                            <a href="javascript:open()" class="button-a button-icon">
                                <i class="fa fa-cog" style="font-size:16px"></i>
                            </a>
                        </div>
                        <h3 style="display: inline-block">
                            <a href="##" th:text="${user.userName}"></a>
                        </h3>
                        <span style="color: whitesmoke;display: inline-block;margin: 0 5px" th:text="'等级:'+${user.level}"></span>
                        <span style="color: whitesmoke;display: inline-block;margin: 0 5px" th:text="'积分:'+${user.experience}"></span>
                        <div class="home-user-data">
                            <p>邮箱：<i th:text="${user.email}"></i></p>
                            <p>手机号：<i th:text="${user.phone}"></i></p>
                        </div>
                    </div>
                </div>
                <form id="addToHistory" method="post" class="history-main">
                    <h2 class="history-title">浏览历史</h2>
                    <div class="readHistory">
                        <ul style="overflow:hidden;">
                            <li style="margin: 10px 0" th:each="readHistory:${readHistory}">
                                <div class="book-rank-list" style="overflow: hidden;">
                                    <div class="book-rank-img">
                                        <img th:src="${readHistory.coverImgUrl}" style="width: 100px;float: left;" />
                                    </div>
                                    <div class="book-rank-list-text" style="width:425px;float:left;margin:5px 0 0 20px;">
                                        <h4 style="font-size: 15px;font-weight: 400;" th:text="${readHistory.novelTitle}"></h4>
                                        <h4 style="font-size: 15px;font-weight: 400;" th:text="${readHistory.chapterTitle}"></h4>
                                        <h4 style="font-size: 15px;font-weight: 400;" th:text="${readHistory.title}"></h4>
                                        <p style="font-size: 10px;color: gray;margin-top: 10px;">
                                            <span class="book-rank-writer" th:text="${readHistory.authors}"></span>
                                            <city>|</city>
                                        </p>
                                        <p th:text="${readHistory.createTime}"></p>
                                    </div>
                                    <div class="rank-book-buttons">
                                        <span class="deleteReadHistory" th:attr="uniqueId=${readHistory.uniqueId}">删除</span>
                                        <span class="rank-book-details" th:attr="novelId=${readHistory.novelIndexId}">书籍详情</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="history-list" style="height: 0px; transition: height 200ms ease 0s;"></ul>
                </form>
                <form id="addComment" method="post" class="history-main">
                    <h2 class="history-title">评论历史</h2>
                    <div class="readHistory">
                        <ul style="overflow:hidden;">
                            <li style="margin: 10px 0">
                                <div class="book-rank-list" style="overflow: hidden;">
                                    <div class="book-rank-img">
                                        <img style="width: 100px;float: left;" />
                                    </div>
                                    <div class="book-rank-list-text" style="width:425px;float:left;margin:5px 0 0 20px;">
                                        <h4 style="font-size: 15px;font-weight: 400;"></h4>
                                        <h4 style="font-size: 15px;font-weight: 400;"></h4>
                                        <h4 style="font-size: 15px;font-weight: 400;"></h4>
                                        <p style="font-size: 10px;color: gray;margin-top: 10px;">
                                            <span class="book-rank-writer"></span>
                                            <city>|</city>
                                        </p>
                                        <p></p>
                                    </div>
                                    <div class="rank-book-buttons">
                                        <span class="deleteReadHistory">删除</span>
                                        <span class="rank-book-details">书籍详情</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="history-list" style="height: 0px; transition: height 200ms ease 0s;"></ul>
                </form>
                <form id="addToShelf" method="post" class="shelf-main">
                    <h2 class="shelf-title">我的书架</h2>
                    <ul class="shelf-list" id="shelfList" style="height: 0px; transition: height 200ms ease 0s;">

                    </ul>
                </form>
                <form id="addToMyWork" method="post" class="work-main">
                    <h2 class="work-title">我的作品</h2>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'RANDOM');" sortBy="RANDOM">随机排序</a>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'COPYRIGHT');" sortBy="COPYRIGHT">版权排序</a>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'PUBDATE');" sortBy="PUBDATE">发布日期排序</a>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'PUBLISHER');" sortBy="PUBLISHER">出版社排序</a>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'RATING');" sortBy="RATING">评分排序</a>
                    <a href="javascript:;" class="SortBy" onclick="$('#workList').empty();getAccountAllNovel(1,'SERIES');" sortBy="SERIES">系列排序</a>
                    <ul class="work-list" id="workList" style="transition: height 200ms ease 0s;">

                    </ul>
                    <div class="page-box" style="padding: 40px 0;position: relative;">
                        <div class="pagination" style="position: absolute;right: 0;">
                            <div class="box-page">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="setting-content" id="setting-content" style="width: 548.4px;height:506px;display: none;">
        <div class="setting-record">
            <div class="tabs" id="tabView">
                <a class="tabTarget1 checked">基本设置</a>
                <a class="tabTarget2">头像设置</a>
                <a href="javascript:close()" id="close-setting" style="display: none;float: right;"><i class="fa fa-close" style="font-size:16px"></i></a>
            </div>
            <div class="tab-contents" id="tabContents" th:each="user:${session.currentAccount}">
                <div id="tabTarget1" class="tab-content checked">
                    <div class="tab-form">
                        <form id="setBasicForm" action="" method="post">
                            <input type="hidden" name="csrfToken" value="" class="elCsrf">
                            <dl>
                                <dt>用户名：</dt>
                                <input type="text" id="userName" class="input" th:value="${user.userName}">
                            </dl>
                            <dl class="form-higher">
                                <dt>手机号：</dt>
                                <input type="text" id="phone" class="input" th:value="${user.phone}">
                            </dl>
                            <dl class="form-higher">
                                <dt>邮箱号：</dt>
                                <input type="email" id="txtemailnumber" class="input" th:value="${user.email}">
                            </dl>
                            <dl class="form-higher">
                                <dt>验证码：</dt>
                                <input name="activateCode" class="input" type="text" placeholder="请输入验证码" style="width: 149px;" autocomplete="off">
                                <button href="###" type="button" id="get-code">获取验证码</button>
                            </dl>
                            <dl class="form-higher">
                                <dt></dt>
                                <dd>
                                    <div>
                                        <input type="submit" id="basicMsgSubmit" class="clip">
                                        <label class="button" id="set">保存</label>
                                    </div>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
                <div id="tabTarget2" class="tab-content">
                    <form id="setAvatarForm" action="">
                        <div id="avatarChoose" class="avatar-choose">
                            <img class="avatar-show" id="profileImgUrl" th:src="${user.profileImgUrl}" alt="书友的头像">
                            <div class="avatar-text">
                                <p>本地上传: 选择本地图片编辑后上传 (上传头像将会在2个工作日内进行审核，通过后需重新登录显示新头像)。</p>
                                <p class="gray">支持jpg、gif、png格式图片，上传文件大小不超过5MB，图片尺寸需大于200*200。</p>
                            </div>
                            <div>
                                <input type="file" style="margin: 0 10px;width: 180px" class="button" id="file" name="file">
                                <button id="sure" type="button" class="button">确定<i style="font-size: 12px;color: #dcdcdc;">（请确定后再点击保存）</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function GetSeries() {
            $.ajax({
                url: "http://localhost:8080/future-novel/api/novel/series/all",
                type: "get",
                data: "",
                success: function(data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#data").append("<option value='" + "" + data[i] + "" + "'>")
                    }
                },
                error: function(data) {
                    console.log(data.errorMessage)
                }
            });
        }
        GetSeries();

        function open() {
            var s = document.getElementById("mask");
            s.style.display = "block";
            var l = document.getElementById("close-setting");
            l.style.display = "block";
            var c = document.getElementById("setting-content");
            c.style.display = "block";
        }

        function close() {
            var s = document.getElementById("mask");
            s.style.display = "none";
            var l = document.getElementById("close-setting");
            l.style.display = "none";
            var c = document.getElementById("setting-content");
            c.style.display = "none";
        }
        $(".tabTarget1").click(function() {
            $(".tabTarget1").addClass("checked")
            $("#tabTarget2").removeClass("checked");
            $("#tabTarget1").addClass("checked");
            $(".tabTarget2").removeClass("checked");
        });
        $(".tabTarget2").click(function() {
            $(".tabTarget1").removeClass("checked");
            $(".tabTarget2").addClass("checked");
            $("#tabTarget1").removeClass("checked");
            $("#tabTarget2").addClass("checked");
        });
        $("#history").click(function() {
            $("#addToHistory").css("display", "block");
            $("#addToShelf").css("display", "none");
            $("#addToMyWork").css("display", "none");
            $("#addComment").css("display", "none");
        })
        $("#shelf").click(function() {
            $("#addToShelf").css("display", "block");
            $("#addToHistory").css("display", "none");
            $("#addToMyWork").css("display", "none");
            $("#addComment").css("display", "none");
        })
        $("#work").click(function() {
            $("#addToMyWork").css("display", "block");
            $("#addToHistory").css("display", "none");
            $("#addToShelf").css("display", "none");
            $("#addComment").css("display", "none");
        })
        $("#comment").click(function() {
            $("#addComment").css("display", "block");
            $("#addToMyWork").css("display", "none");
            $("#addToHistory").css("display", "none");
            $("#addToShelf").css("display", "none");
        })
    </script>
    <script th:inline="javascript" async>
        $("#file").on("change", function() {
            var formData = new FormData;
            formData.append("file", $("#file")[0].files[0]);
            $.ajax({
                url: "http://localhost:8080/future-novel/api/img/upload",
                type: "put",
                dataType: "JSON",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $("#sure").click(function() {
                        $("#profileImgUrl").attr("src", data.url);
                    });
                },
                error() {
                    console.log("上传的图片有误")
                }
            })
        });
        //获取用户信息
        function getUserInfo() {
            $.ajax({
                user: /*[[${#request.getContextPath()} + '/api/account/' + ${session.currentAccount.uid.toString()} +'/info']]*/ "/nonexist",
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {},
                success: function(data) {
                    //         console.log(data);
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        getUserInfo();
        //修改用户信息
        $("#set").click(function() {
            tabAccountInfo();
        })

        function tabAccountInfo() {
            $.ajax({
                url: "http://localhost:8080/future-novel/api/account/edit",
                type: "POST",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    userName: $("#userName").val(),
                    phone: $("#phone").val(),
                    //email:$("#txtemailnumber").val(),
                    profileImgUrl: $("#profileImgUrl").attr("src"),
                    //activateCode:
                }),
                success: function(data) {
                    console.log(data);
                    window.location.href = location;
                },
                err: function(data) {
                    console.log(data);
                }
            })
        }
        //获取浏览历史
        function getReadHistory() {
            $.ajax({
                url: "http://localhost:8080/future-novel/api/account/readHistory/get",
                type: "POST",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({

                }),
                success: function(data) {
                    console.log(data)
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        getReadHistory();
        //删除某条浏览记录
        function delegeReadHistory(HistoryId) {
            $.ajax({
                url: "http://localhost:8080/future-novel/api/account/readHistory/" + HistoryId,
                type: "delete",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {},
                success: function(data) {
                    console.log(data)
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        //获取用户所有小说的页数
        function geNovelAllPage() {
            $.ajax({
                url: /*[[${#request.getContextPath()} + '/api/novel/user/' + ${session.currentAccount.uid.toString()} +'/pages']]*/ "/nonexist",
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {
                    per_page: 5
                },
                success: function(data) {
                    console.log(data)
                    if (data.pages != 1) {
                        for (var i = 1; i <= data.pages; i++) {
                            $(".box-page").append("<span class=\"rank-page\">" + "" + i + "" + "</span>")
                        }
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        geNovelAllPage();
        //获取用户所有小说
        function getAccountAllNovel(page, sortBy) {
            $.ajax({
                url: /*[[${#request.getContextPath()} + '/api/novel/user/' + ${session.currentAccount.uid.toString()} +'/get']]*/ "/nonexist",
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {
                    per_page: 5,
                    page: page,
                    sort_by: sortBy,
                },
                success: function(data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#workList").append("<li>\n" +
                            "                            <div class=\"book-rank-list\" style=\"overflow: hidden;\">\n" +
                            "                                <div class=\"book-rank-img\">\n" +
                            "                                <div class=\"book-rank-img\">\n" +
                            "                                    <img src='" + "" + data[i].coverImgUrl + "" + "' style=\"width: 100px;float: left;\"/>\n" +
                            "                                </div>\n" +
                            "                                <div class=\"book-rank-list-text\"   style=\"width:425px;float:left;margin:5px 0 0 20px;\">\n" +
                            "                                    <h4 style=\"font-size: 15px;font-weight: 400;margin-top:10px;\">" + "" + data[i].title + "" + "</h4>\n" +
                            "                                    <p style=\"font-size: 10px;color: gray;margin-top: 25px;\">\n" +
                            "                                        <span class=\"book-rank-writer\">" + "" + data[i].authors + "" + "</span><city>|</city>\n" +
                            "                                        <span class=\"book-rank-writer\">" + "" + data[i].publisher + "" + "</span><city>|</city>\n" +
                            "                                        <span class=\"book-rank-writer\">" + "" + data[i].tags + "" + "</span><city>|</city>\n" +
                            "                                        <span class=\"book-rank-writer\">" + "" + '共有' + data[i].chapters.length + '章' + "" + "</span><city>|</city>\n" +
                            "                                    </p>\n" +
                            "                                    <span class=\"book-rank-synopsis\">" + "" + data[i].description + "" + "</span>\n" +
                            "                                </div>\n" +
                            "                                <div class=\"rank-book-buttons\">\n" +
                            "                                    <span class=\"rank-book-write\" uploaderId='" + data[i].uploader + "" + "' novelId='" + data[i].uniqueId + "' >编写书籍</span>\n" +
                            "                                    <span class=\"rank-book-details\" uploaderId='" + data[i].uploader + "" + "' novelId='" + data[i].uniqueId + "'>书籍详情</span>\n" +
                            "                                </div>\n" +
                            "                            </div>\n" +
                            "                            </div>\n" +
                            "                        </li>");
                    }
                },
                error: function(data) {
                    console.log(data);
                }
            });
        }
        //获取用户所有收藏夹
        function getAllAcconutSelf() {
            $.ajax({
                url: /*[[${#request.getContextPath()} + '/api/account/' + ${session.currentAccount.uid.toString()} +'/bookSelves']]*/ "/nonexist",
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {

                },
                success: function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        getAllAcconutSelf();
        //获取用户评论历史
        function getAccountComment(page) {
            $.ajax({
                url: /*[[${#request.getContextPath()} + '/api/account/' + ${session.currentAccount.uid.toString()} +'/comment/get']]*/ "/nonexist",
                type: "GET",
                datatype: "json",
                contentType: "application/json;charset=UTF-8",
                data: {
                    per_page: 10,
                    page: page
                },
                success: function(data) {
                    console.log(data)
                },
                error: function(data) {
                    console.log(data);
                }
            })
        }
        getAccountComment(1);
        //更改邮箱时获取验证码
        $("#get-code").click(function() {
            const email = $("#txtemailnumber").val();
            if (!$("#txtemailnumber").val().match(/^(\w){3,}(\.\w+)*@(\w){2,}((\.\w+)+)$/)) {
                alert("请填写正确的邮箱地址");
                return;
            }
            $("#get-code").attr('disabled', true).html("30秒后可重试");
            $.ajax({
                url: /*[[${#request.getContextPath()} + '/api/sendCaptcha']]*/ "/",
                type: 'POST',
                dataType: "JSON",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    email: email
                }),
                success: function() {
                    $("#get-code").attr('disabled', true).html("30秒后可重试");
                    const interval = setInterval(function() {
                        const htmlobj = $("#get-code");
                        let remaintime = parseInt(htmlobj.html().substr(0, 2));
                        remaintime--;
                        if (remaintime < 10) remaintime = "0" + remaintime;
                        htmlobj.html(remaintime + "秒后可重试");
                    }, 1000);
                    setTimeout(function() {
                        $("#get-code").attr('disabled', false).html('重新发送');
                        clearInterval(interval);
                    }, 30000);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    const data = JSON.parse(jqXHR.responseText);
                    alert("发送失败，请稍候再试:" + data.errorMessage);
                    $("#get-code").attr('disabled', false).html("发送");
                }
            });
        });



        $(".rank-book-buttons").on("click", ".rank-book-details", function() {
            window.location.href = "http://localhost:8080/future-novel/novel/" + $(this).attr("novelId") + "/view";
        })
        $("#workList").on("click", ".rank-book-details", function() {
            window.location.href = "http://localhost:8080/future-novel/novel/" + $(this).attr("novelId") + "/view";
        })
        $("#workList").on("click", ".rank-book-write", function() {
            window.location.href = "http://localhost:8080/future-novel/novel/" + $(this).attr("novelId") + "/write";
        })
        $(".rank-book-buttons").on("click", ".deleteReadHistory", function() {
            delegeReadHistory($(this).attr("uniqueId"));
            window.location.href = window.location.href;
        })
        getAccountAllNovel(1, "HOT_DESC");
        $(".box-page").on("click", ".rank-page", function() {
            $(this).toggleClass("tab");
            $(this).siblings().removeClass("tab");
            $("#workList").empty();
            getAccountAllNovel($(this).text(), );
        })
    </script>
</body>

</html>