<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="novel" type="net.wlgzs.futurenovel.bean.Novel"*/-->
<!--/*@thymesVar id="chapter" type="net.wlgzs.futurenovel.bean.NovelChapter"*/-->
<!--/*@thymesVar id="section" type="net.wlgzs.futurenovel.model.Section"*/-->

<head>
    <meta charset="UTF-8">
    <title th:text="|${novel.title} - ${chapter.title} - ${section.title}|">未来小说网--阅读中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../resources/css/all.css" type="text/css" th:href="@{/resources/css/all.css}">
    <link rel="stylesheet" href="../../resources/css/read-book.css" type="text/css" th:href="@{/resources/css/read-book.css}">
    <link rel="stylesheet" href="../../resources/css/fix-nav.css" type="text/css" th:href="@{/resources/css/fix-nav.css}">
</head>

<body>
    <!-- 导航栏 -->
    <div class="read-header">
        <div class="wrap-center" id="readHeader">
            <h1 class="top-logo">未来小说网</h1>
            <div class="nav-list min-user fr">
                <ul>
                    <li id="min-search">
                        <form id="formUrl" method="get" target="_blank" action="">
                            <label id="fixed-search" for="topsearchSubmit">
                                <i class="fa fa-search" style="font-size:16px;color: #ffffff;"></i>
                            </label>
                            <input id="fixed-input" class="fixed-input hide" type="text" name="kw">
                            <input class="submit-input" type="submit" id="topsearchSubmit">
                        </form>
                        <li class="line"></li>
                    </li>
                    <li class="sign-out">
                        <a id="fixed-login" href="###">登录</a>
                        <a class="reg" href="###" target="_blank">注册</a>
                    </li>
                    <li class="line"></li>
                    <li class="book-shelf" id="top-book-shelf">
                        <a href="###" target="_blank">
                            <i class="fa fa-book" style="font-size:16px">我的书架</i>
                        </a>
                    </li>
                    <li class="avatar">
                        <a href="../../WEB-INF/thymeleaf/member.html" target="_blank" style="margin-top: 4.5px">
                            <img src="../../resources/img/avatar.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap" style="background-color: #f5f5f5;padding-top: 20px;">
        <!-- 中间阅读 -->
        <div class="main-read">
            <div id="chapterBox">
                <!-- 中间阅读首页 -->
                <div class="text-wrap" id="chapter-0" th:object="${novel}">
                    <div class="book-cover-wrap">
                        <div class="book-photo">
                            <img src="../../resources/img/万族之劫.jpg" th:src="*{coverImgUrl}" />
                        </div>
                        <h1 th:text="*{title}">万族之劫</h1>
                        <h2 th:each="author : *{authors}">
                            <a href="###" target="_blank" th:text="${author}">老鹰吃小鸡</a>著
                        </h2>
                        <div class="info-list cf">
                            <ul>
                                <li>
                                    <p>都市</p>
                                    <span>类型</span>
                                </li>
                                <li>
                                    <p>2020.02.06</p>
                                    <span>上架</span>
                                </li>
                                <li>
                                    <p><i>330.67</i>万</p>
                                    <span>连载（字）</span>
                                </li>
                            </ul>
                        </div>
                        <h3>与<span>203.03万</span>位书友共同开启《万族之劫》的都市之旅</h3>
                        <h4>
                            <em>「</em>盟主<em>」</em><a href="###" target="_blank">壶中日月，袖里乾坤。</a>
                            <em>「</em>盟主<em>」</em><a href="###" target="_blank">幻羽</a>
                        </h4>
                    </div>
                </div>
                <!-- 中间阅读章节内容 -->
                <div class="text-wrap" id="chapter-1">
                    <div class="main-text-wrap">
                        <div class="text-head">
                            <a class="book-mark" href="###" title="书签">
                                <i class="fa fa-bookmark" style="font-size:36px;color: rgba(0, 0, 0, .4);"></i>
                            </a>
                            <h3 class="chapterName">
                                <span class="content-wrap" th:text="|${chapter.title} - ${section.title}|"> 第1章 父子</span>
                                <span class="review-count">
                                    <i><cite></cite></i>99
                                </span>
                            </h3>
                            <div class="text-info cf">
                                <div class="info fl">
                                    <a href="###" target="_blank">
                                        <i class="fa fa-file" style="font-size:16px;display: inline-block;min-width: 16px;margin-right: 6px;vertical-align: -2px;"></i> <a th:text="${novel.title}">万族之劫</a>
                                    </a>
                                    <a href="###" target="_blank">
                                        <i class="fa fa-user-circle" style="font-size:16px;display: inline-block;min-width: 16px;margin-right: 6px;vertical-align: -2px;"></i> <a th:each="author : ${novel.authors}" th:text="|${author} |">老鹰吃小鸡</a>
                                    </a>
                                    <i class="fa fa-file-text" style="font-size:16px;color: rgba(0, 0, 0, .4);display: inline-block;min-width: 16px;margin-right: 6px;vertical-align: -2px;" th:text="|${section.text.length()}字|">3152字</i>
                                    <i class="fa fa-clock-o" style="font-size:16px;display: inline-block;min-width: 16px;margin-right: 6px;vertical-align: -2px;">2020.02.06 13:52</i>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="read-content" th:utext="${section.text}">
                        </div>
                        <!--                        <div class="read-content">-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　　　安平历350年。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　大夏府，南元城。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏家。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇一进家门便闻到了菜香味，丢下书包，走到餐桌前，随手拣起一块红烧肉扔进嘴里。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　一边咀嚼着，苏宇一边看向厨房含糊道：“爸，明天换个汤，天天吃肉也不腻得慌。”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　“有的吃就不错了，还挑三拣四的！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　厨房里传来苏龙的抱怨声，“你说你，今年也十八了，什么时候才能学会照顾自己？你老子我当爹又当娘照顾了这么多年，总算是要解脱了。”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇咀嚼着红烧肉，笑呵呵道：“爸，你手艺好，都快成大厨了，我倒是想自己下厨，关键我烧了没法吃啊！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　“呵！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏龙呵呵一声，光说不练的家伙，你倒是进厨房啊。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　很快，穿着围裙的苏龙端着菜肴走了出来。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　接近一米九的个头，魁梧有力的身板，穿着格格不入的小围裙，看起来格外滑稽。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇每次都念叨，这次也不例外，摇头晃脑道：“爸，就不能换个大点的围裙？咱家又不缺一副围裙的钱！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　“你懂什么！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏龙懒得理会，将菜肴端上桌，也不褪下围裙，坐下便道：“吃饭！能省点算一点，再说这围裙是新的……”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　“这话说了三年了！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇翻白眼，三年前你说新的就算了，三年后还是这话，自己这老爹也真敢说。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏龙也不在意，坐下便吃，狼吞虎咽速度极快。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇早就习惯了，也不在意这个，自顾自地坐下，一边吃着一边叹气道：“爸，前线是又打仗了吧？我刚刚回来在楼下看到征兵车了，来咱们小区征兵了？也不知道是哪家……”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏龙吃饭的动作微微一滞，很快放下碗筷，正色道：“保家卫国，人人有责！听你这语气，你是觉得当兵不好？”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　“没！”</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇急忙撇清，自己老爹就是退伍兵，可不能乱说，否则老爹的熊掌不是开玩笑的。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏宇急忙撇清，自己老爹就是退伍兵，可不能乱说，否则老爹的熊掌不是开玩笑的。</span>-->
                        <!--                            </p>-->
                        <!--                            <p>-->
                        <!--                                <span class="content-wrap">　　苏龙轻哼一声，这才端起碗筷继续吃饭。</span>-->
                        <!--                            </p>-->
                        <!--                        </div>-->
                        <div class="admire-wrap">
                            <a class="report-btn" id="reportBtn" href="###"><i class="fa fa-exclamation-triangle" style="font-size:18px;display: inline-block;min-width: 18px;margin-right: 3px;vertical-align: -2px;"></i>举报</a>
                            <!-- <script>
                                (function() {
                                    function getCookie(name) {
                                        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                                        if (match) return match[2];
                                    }
                                    document.getElementById('j_reportBtn').href += ('&_csrfToken=' + getCookie('_csrfToken'))
                                })()
                            </script> -->
                            <div class="read-btn-box">
                                <a class="admire admireBtn" href="##">赞赏</a>
                            </div>
                        </div>
                        <div class="author-say-wrap">
                            <h3>作者感言</h3>
                            <div class="author-say cf">
                                <a class="avatar" href="###">
                                    <img src="../../resources/img/author-1.jpg" alt="老鹰吃小鸡" th:src="@{resources/img/author-1.jpg}" />
                                </a>
                                <h4>
                                    <a href="###">老鹰吃小鸡</a>
                                </h4>
                                <p>新书发布，大家收藏推荐支持一下，谢谢大家！原本准备10号发书，担心网站放假还得延期，干脆不管了，直接发书了！</p>
                                <p>2020-02-06 13:52</p>
                            </div>
                        </div>
                        <div class="our-say-wrap">
                            <h3>评论</h3>
                            <div class="our-say cf">
                                <a class="member" href="##">
                                    <img src="../../resources/img/avatar.png" />
                                </a>
                                <h4>
                                    <a href="###">书友</a>
                                </h4>
                                <p>上阵父子兵，替父从军</p>
                                <a type="button" id="remove" style="color: rgb(179, 174, 174);font-size: 14px;cursor: pointer;">删除</a>
                                <a type="submit" id="pinglun" style="color: rgb(179, 174, 174);font-size: 14px;cursor: pointer;">评论</a>
                            </div>
                            <div class="send-textarea" style="display: none;" id="send-textarea">
                                <textarea placeholder="欢迎追加评论..." id="sendTextarea" style="margin: 27px 0px;width: 736px;height: 121px;"></textarea>
                                <div class="text-tools" style="bottom: 5px;">
                                    <a href="##" class="blue-btn" type="submit" id="fabiao">发表</a>
                                    <a href="##" class="blue-btn" type="submit" id="quxiao">取消</a>
                                    <i>0/150</i>
                                </div>
                            </div>
                            <div class="send-textarea">
                                <textarea placeholder="有想法快写下来吧..." id="sendTextarea"></textarea>
                                <div class="text-tools fr">
                                    <a href="##" class="blue-btn" type="submit">发表</a>
                                    <i>0/150</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 切换章节 -->
                <div class="chapter-control">
                    <a id="chapterPrev" class="disabled" href="###">上一章</a>
                    <span></span>
                    <a href="###" target="_blank">目录</a>
                    <span></span>
                    <a id="chapterNext" href="###">下一章</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 左边导航条 -->
    <div class="float-wrap" id="floatWrap">
        <div class="left-bar-list" id="leftBarList">
            <dl>
                <dd id="navCatalogBtn">
                    <a href="###">
                        <i class="fa fa-list" style="font-size:20px;display: block;width: 16px;height: 16px;margin: 0 auto 6px;transition: color .3s;color: #000;"></i>
                        <span>目录</span>
                    </a>
                </dd>
                <dd>
                    <a href="###" th:href="@{/}">
                        <i class="fa fa-book" style="font-size:20px;display: block;width: 16px;height: 16px;margin: 0 auto 6px;transition: color .3s;color: #000;"></i>
                        <span>书架</span>
                    </a>
                </dd>
                <dd>
                    <a href="../../WEB-INF/thymeleaf/look-book.html" th:href="${#request.contextPath}+'/novel/'+${novel.uniqueId.toString()}+'/view'">
                        <i class="fa fa-file-o" style="font-size:20px;display: block;width: 16px;height: 16px;margin: 0 auto 6px;transition: color .3s;color: #000;"></i>
                        <span>书页</span>
                    </a>
                </dd>
                <dd>
                    <a href="###">
                        <i class="fa fa-rmb" style="font-size:20px;display: block;width: 16px;height: 16px;margin: 0 auto 6px;transition: color .3s;color: #000;"></i>
                        <span>打赏</span>
                    </a>
                </dd>
            </dl>
            <!-- 目录面板 -->
            <div class="panel-wrap catalog" id="catalog" style="display: none;">
                <div class="panel-box">
                    <div class="catalog-tab">
                        <span class="actinfocata">目录</span>
                    </div>
                    <div class="panel-list-wrap" id="catalogList">
                        <div class="volume-list" style="display: block;">
                            <ul class="cf" th:each="chapter1 : ${novel}">
                                <li th:each="section1 : ${chapter1}">
                                    <a href="#" th:href="${#request.contextPath}+'/novel/'+${novel.uniqueId.toString()}+'/read?sectionId='+${section1.uniqueId.toString()}" target="_blank" th:text="|${chapter1.title} - ${section1.title}|">第1章 父子</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.onmouseover = function() {
        var navCatalogBtn = document.getElementById("navCatalogBtn");
        var catalog = document.getElementById("catalog");

        navCatalogBtn.onmouseover = function() {
            catalog.style.display = "block";
            navCatalogBtn.classList.add("act");
        }
        navCatalogBtn.onmouseout = function() {
            catalog.style.display = "none";
            navCatalogBtn.classList.remove("act");
        }
        catalog.onmouseover = function() {
            catalog.style.display = "block";
            navCatalogBtn.classList.add("act");
        }
        catalog.onmouseout = function() {
            catalog.style.display = "none";
            navCatalogBtn.classList.remove("act");
        }
    }
</script>
<script>
    $("#pinglun").click(function() {
        $("#send-textarea").show();
    });
    $("#quxiao").click(function() {
        $("#send-textarea").hide();
    });
</script>

</html>