<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="defaultEnumTypeHandler"  value="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="java.math.RoundingMode"/>
        <typeHandler handler="net.wlgzs.futurenovel.typehandler.UUIDTypeHandler"/>
    </typeHandlers>
    <!-- 将包内的映射器接口实现全部注册为映射器 -->
    <mappers>
        <package name="net.wlgzs.futurenovel.dao"/>
    </mappers>
</configuration>